.test {
    padding-top: 64px;
}

.movie-card {
    color: #FFFFFF;
    
    .movie-title {
        color: #000FFF;
    }

    .description {
        color: #FFF000;
    }

    .movie-year {
        color: #FF0000;
    }
}
